@import "tailwindcss";

.logo {
    font-size: 3rem;
    color: #ff007b;
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #ffffff,
        5px 5px 0px #efa032,
        10px 10px 0px #46b59b,
        15px 15px 0px #017e7f,
        20px 20px 0px #052939,
        25px 25px 0px black
}

.home-page-bg-img {
    background-image: url('/traffic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}