@import "tailwindcss";

.logo {
    font-size: 2rem;
    color: #ff007b;
    font-family: 'Niconne', cursive;
    font-weight: 600;
    text-shadow: 3px 3px 0px #ffffff,
        3px 3px 0px #efa032,
        6px 6px 0px #46b59b,
        9px 9px 0px #017e7f,
        12px 12px 0px #052939,
        15px 15px 0px black
}

.home-page-bg-img {
    background-image: url('/traffic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}